.about{
    background-color: #{$main-black-2};
    @extend .flex-defult;
    @extend .container;
    width: 100%;
    .about-img{
        width: 35%;
        img{
            width: 90%;
        }
    }
    .about-text{
        color: #{$main-white};
        width: 35%;
        h1,h4{
            margin-bottom: 10px;
        }
        h1{
            font-size: 2.37rem;
            margin-bottom: 1.5rem;
            letter-spacing: 2px;
        }
    }
}


@media screen and (min-width : 300px) and (max-width : 767px){  
    .about-img{
        display: none;
    } 
    .about{
        .about-text{
            width: 100%;
            padding: 20px ;
    }
    }
    }   