footer{
    background-color: #{$main-black-1};
    width: 100%;
    padding-top: 50px;
.footer{
    margin: auto;
    color: #{$main-white};
    @extend .container;
    .contact-footer{
        @extend .flex-defult;
        .contact-info{
            width: 100%;
            padding: 0px 50px ;
            h1,p,h3{
                margin-bottom: 2rem;
            }
        }
        .contact-form{
            form{
                width: 100%;
            input,textarea{
                width: 100%;
                height: 50px;
                margin-bottom: 2rem;
                border-radius: 50px;
            }
            textarea{
                resize: none;
                border-radius: none

            }
            .submit{
                background-color: #{$main-red};
                border: none;
                @extend .button;
                @include hover-active-button;
                @include transition( all 0.2s ease-in-out);
            }
            ::placeholder{
                padding: 10px
            }

        }}
    }
    .footer-contact{
        text-align: center;

        a{
            padding: 10px;
            font-size: 2rem;
            color: #{$main-white};                    
        }
        :hover{
            @include transition( all 0.2s ease-in-out);
            @include hover-active-color(#{$main-red});
        }
        span{
            display: block;
            padding: 20px;
        }

    }

}
}

@media screen and (min-width : 300px) and (max-width : 767px){
    footer{     
        .footer{
            width: 80%;
        .contact-footer{
            flex-wrap: wrap;
            .contact-info{
                width: 100%;
                padding: 0;
                text-align: center;
                p{
                    font-size: 1.4rem;
                }
            }
            .contact-form{
                width: 100%;
            }

        }
    }
}}
