.services{
    background-color: #{$main-black-1};
    padding: 3rem 0px;
    h1{
        font-size: 3.5rem;
        text-align: center;
        color: #{$main-white};
    }
    .content-services{
        .content-services-info{
            @extend .flex-defult;
        @extend .container;
        margin: 20px 0;

        width: 100%;
        .content-services-box{
            color: #{$main-white};
            background-color: #{$main-black-2};
            border-radius: 30px;
            padding: 1.3rem 2rem;
            text-align: center;
            margin: 10px;
            width:500px;

            h2{
                margin: 10px 0px;
                font-size: 1.4rem;
            }

        }}
        .experience{
            border-top: 3px solid #{$main-black-2};
            padding: 20px 0;
        }
    }
}

@media screen and (min-width : 300px) and (max-width : 767px){
    .services{
        h1{
            margin: 0;
            font-size: 3rem;
        }

    } 

}