.services{
    // width: 100vw;
    background-color: #{$main-black-1};
    padding: 20px 0;
    h1{
        font-size: 3.5rem;
        margin-left: 50px;
        text-align: center;
        padding: 2rem 0px;
        color: #{$main-white};
    }
    .content-services{
        @extend .container;
        @extend .flex-defult;
        .content-services-box{
            color: #{$main-white};
            width: 300px;
            background-color: #{$main-black-2};
            border-radius: 30px;
            padding: 1.3rem 2rem;
            text-align: center;
            margin: 0px 10px;
            i{
                font-size: 2rem;
                cursor: pointer;
                color: #{$main-red};
            }
            h2{
                margin: 10px 0px;
            }

        }
    }
}

@media screen and (min-width : 300px) and (max-width : 767px){
    .services{
        h1{
            margin: 0;
        }
        .content-services{ 
            flex-wrap: wrap;
            .content-services-box{
                // flex-wrap: wrap;
                margin: 10px 0px ;
        }}
    } 

}