.skills{
    width: 100%;
    padding: 20px 0px;
    background-color: #{$main-black-2};
    @extend .container;
    h1{
        font-size: 3.5rem;
        text-align: center;
    }
    #skills{  
        @extend .flex-defult;
    .skills-text{
        width: 50%;
        h1{
            text-align: center;
            margin: 0;
            color: #{$main-white};
        }
    .skills-progress{
        span{
            color: #{$main-white};
        }
        width: 100%;
        .prog-skills{
            height: 20px;
            margin-bottom: 10px;
          div{
            background-color: #{$main-red};
          }  
        }
        .skill-img{
            width: 100px;
            height: 100px;
            background-color: #{$main-white};
            border-radius: 50%;
            margin: 0 2rem 2rem 0;
            @extend .flex-defult;
            img{
                width: 70%;
                background-color: #{main-white};
            }}
        }
    }
    .skills-icon{
        width: 40%;
        img{
            width: 100%;
        }
    }}
}


@media screen and (min-width : 300px) and (max-width : 767px){
    .skills {
        #skills{

       
        .skills-text{
            width: 90%;
        }
        .skills-icon{
            display: none;
        }

    } }
}



