
span{
    color: #{$main-red};
}

.btn{
    @extend .button;
    @include hover-active-button;
    @include transition( all 0.2s ease-in-out);

}
.home{ 
    padding: 20px 0px;
    width: 100%;
    background-color: #{$main-black-1};
    display: flex ;
    flex-direction: column;
    nav{
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        background-color: #{$main-black-1};
        @extend .container;
        h1{
            font-size: 2.2rem;
            cursor: pointer;
            color: #{$main-white};
        }
        ul li{
            display: inline-block;
            margin: 0px 1.5rem;
            font-size: 1.2rem;
            a{
                color: #{$main-white} ;
                @include hover-active-color(#{$main-red});
                @include transition( all 0.2s ease-in-out);
            }
        }
    }
    .content{
        display: flex;
        justify-content: space-evenly;
        @extend .container;
        padding: 50px 0px;

        .content-text{
            margin-top: 5%;
            h4{
                color: #{$main-buble};
            }
            h4,h3{
                font-size: 1.5rem;
                margin-bottom: 3rem;
                
            }
            h1{
                font-size: 4.5rem;
                margin: 1.5rem 0;
                color: #{$main-white};
            }h3{
                color: #{$main-white};
            }
            .social{
                margin-top: 3rem;
                a{
                    margin-right: 1.5rem;
                    font-size: 2rem;
                    color: #{$main-white};                    
                }
                :hover{
                    transform: scale(1.2);
                    @include transition( all 0.2s ease-in-out);
                    @include hover-active-color(#{$main-red});
                }
            }
        }
        .content-imgs{
            width: 40%;
        
            img{
                border: 1px solid black;
                border-radius: 50%;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width : 300px) and (max-width : 767px){
    html{
        font-size: 13px;
    }
    .content-imgs{
        display: none;
    }
    .content-text h4{
        margin: 30px 0px;
    }
    nav >a{
        display: none;
    }
     .home{nav{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        background-color: #{$main-black-1};
        border-bottom: 1px solid #{$main-black-2};
        z-index: 100;
        width: 100%;
        padding:0px 20px;
    }}
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        text-align: center;
        background-color: #{$main-black-2};
        li{
            a{
            margin: 5rem;
            display: block;
        }
        }
    }    
   

    .social{
        text-align: center;
    }
    .menu{
        display: block;
    }
    .menu.is-active span:nth-child(1){
        transform: translate(0px , -2px) rotate(45deg);
    }
    .menu.is-active span:nth-child(2){
        opacity: 0;
        transform: translateX(15px);
    }
    .menu.is-active span:nth-child(3){
        transform: translate(-3px , 3px) rotate(-45deg);
    }
    .menu.is-active span{
        background-color: #{$main-red};
    }
  

}



